.cite {
  padding-bottom: 80px;
  &-wrapper {
    background-color: #323871;
    padding: 60px 0 70px 30px;
    &-text {
      width: 65%;
      @media (min-width: 0) and (max-width: 576px) {
        width: 100%;
      }
      @media (min-width: 577px) and (max-width: 768px) {
        width: 100%;
      }
      @media (min-width: 769px) and (max-width: 991px) {
        width: 100%;
      }
    }
  }
  &-text {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 300;
    font-style: italic;
    margin-top: 30px;
    padding-left: 41px;
    @media (min-width: 0) and (max-width: 576px) {
      font-size: 16px;
      padding-right: 15px;
    }
    @media (min-width: 577px) and (max-width: 768px) {
      font-size: 16px;
      padding-right: 15px;
    }
    @media (min-width: 769px) and (max-width: 991px) {
      font-size: 19px;
      padding-right: 15px;
    }
  }
}
