.contacts {
  .map {
    width: 100%;
    height: 460px;
    -webkit-box-shadow: 0 10px 40px rgba(30, 38, 109, 0.12);
    -moz-box-shadow: 0 10px 40px rgba(30, 38, 109, 0.12);
    box-shadow: 0 10px 40px rgba(30, 38, 109, 0.12);
  }
}
