.course-card {
  box-shadow: 0px 10px 25px 0px rgba(29, 17, 3, 0.12);
  position: relative;
  &-image {
    @media (min-width: 992px) and (max-width: 1199px) {
      width: 100%;
    }
  }
  .mx-10px {
    margin-right: 10px;
    margin-left: 29px;
    @media (min-width: 0) and (max-width: 576px) {
      margin-left: 0;
      margin-bottom: 10px;
    }
    @media (min-width: 577px) and (max-width: 768px) {
      margin-left: 0;
      margin-bottom: 10px;
    }
    @media (min-width: 769px) and (max-width: 991px) {
      margin-left: 0;
      margin-bottom: 10px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-left: 0;
      text-align: right;
    }
  }
  .mr-10px {
    margin-right: 10px;
    @media (min-width: 0) and (max-width: 576px) {
      margin-bottom: 10px;
    }
    @media (min-width: 577px) and (max-width: 768px) {
      margin-bottom: 10px;
    }
    @media (min-width: 769px) and (max-width: 991px) {
      margin-bottom: 10px;
    }
  }
  .border-left {
    border-left: 1px solid rgba(81, 85, 110, 1);
  }
  &-info {
    padding: 40px 30px 40px 20px;
  }
  &-title {
    font-size: 28px;
    font-weight: 700;
    color: rgba(63, 67, 95, 1);
    margin-bottom: 10px;
    @media (min-width: 0) and (max-width: 576px) {
      padding-top: 10px;
      font-size: 22px;
    }
    @media (min-width: 577px) and (max-width: 768px) {
      padding-top: 10px;
      font-size: 22px;
    }
    @media (min-width: 769px) and (max-width: 991px) {
      padding-top: 10px;
      font-size: 22px;
    }
  }
  &-description {
    font-size: 14px;
    left: 18px;
    color: rgba(81, 85, 110, 1);
    margin-bottom: 30px;
  }
  &-stat {
    padding: 0 15px;
    &-more {
      @media (min-width: 992px) and (max-width: 1199px) {
        padding-top: 15px;
      }
    }
    .data {
      font-size: 24px;
      font-weight: 700;
      line-height: 23px;
      color: rgba(63, 67, 95, 1);
      @media (min-width: 0) and (max-width: 576px) {
        font-size: 20px;
      }
      @media (min-width: 577px) and (max-width: 768px) {
        font-size: 20px;
      }
      @media (min-width: 769px) and (max-width: 991px) {
        font-size: 20px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 20px;
      }
    }
    .title {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: rgba(81, 85, 110, .6);
      @media (min-width: 0) and (max-width: 576px) {
        font-size: 14px;
      }
      @media (min-width: 577px) and (max-width: 768px) {
        font-size: 14px;
      }
      @media (min-width: 769px) and (max-width: 991px) {
        font-size: 14px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 14px;
      }
    }
  }
}
