.course-card {
  box-shadow: 0px 10px 25px 0px rgba(29, 17, 3, 0.12);
  position: relative;
  .share-button {
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
  }
  .mx-10px {
    margin-right: 10px;
    margin-left: 30px;
  }
  .mr-10px {
    margin-right: 10px;
  }
  .border-left {
    border-left: 1px solid rgba(81, 85, 110, 1);
  }
  &-info {
    padding: 20px 30px 45px 20px;
  }
  &-title {
    font-size: 28px;
    font-weight: 700;
    color: rgba(63, 67, 95, 1);
    margin-bottom: 10px;
  }
  &-description {
    font-size: 14px;
    left: 18px;
    color: rgba(81, 85, 110, 1);
    margin-bottom: 19px;
  }
  &-stat {
    .data {
      font-size: 24px;
      font-weight: 700;
      line-height: 23px;
      color: rgba(63, 67, 95, 1);
    }
    .title {
      font-size: 16px;
      font-weight: 300;
      line-height: 16px;
      color: rgba(81, 85, 110, .6);
    }
  }
}
