.footer {
  background-color: #F6F7FB;
  padding: 80px 0 19px 0;
  @media (min-width: 0) and (max-width: 576px) {
    padding-top: 40px;
  }
  &-details {
    @media (min-width: 0) and (max-width: 576px) {
      margin-bottom: 25px;
      padding: 0 15px;
    }
    @media (min-width: 577px) and (max-width: 768px) {
      margin-bottom: 25px;
    }
  }
  &-addr {
    font-size: 14px;
    color: #51556E;
    padding-right: 40px;
    margin-top: 12px;
    margin-bottom: 18px;
  }
  &-email {
    &-link {
      font-size: 16px;
      color: #51556E;

    }
  }
  &-socials {
    &-title {
      font-size: 14px;
      color: rgba(81, 85, 110, 1);
      display: block;
    }
    @media (min-width: 0) and (max-width: 576px) {
      padding: 0 15px;
    }
    @media (min-width: 577px) and (max-width: 767px) {
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      text-align: right;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      text-align: right;
    }
  }
  &-number {
    margin-bottom: 40px;
    &-link {
      color: rgba(30, 38, 109, 1);
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      display: block;
      @media (min-width: 577px) and (max-width: 768px) {
        margin-top: 10px;
      }
    }
    @media (min-width: 0) and (max-width: 576px) {
      margin-bottom: 15px;
    }
    @media (min-width: 577px) and (max-width: 768px) {
      margin-bottom: 15px;
    }
    @media (min-width: 769px) and (max-width: 991px) {
      margin-bottom: 25px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-bottom: 25px;
    }
  }
  &-menu {
    max-height: 120px;
    &-list {
      display: flex;
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: -o-flex;
      flex-flow: column wrap;
      list-style-type: none;
      margin: 0;
      padding: 0;
      max-height: 120px;
    }
    &-item {
      margin-bottom: 15px;
    }
    @media (min-width: 0) and (max-width: 576px) {
      margin-top: 20px;
      padding: 0 15px;
    }
    @media (min-width: 769px) and (max-width: 991px) {
      text-align: center;
      margin-top: 40px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      text-align: center;
      margin-top: 40px;
    }
  }
  &-credits {
    font-size: 14px;
    color: rgba(81, 85, 110, 1);
    padding-top: 15px;
    @media (min-width: 0) and (max-width: 576px) {
      padding-left: 15px;
    }
  }
  &-label {
    padding-top: 15px;
    text-align: right;
    &-title {
      font-size: 14px;
      color: rgba(81, 85, 110, 1);
      margin-right: 12px;
    }
    @media (min-width: 0) and (max-width: 576px) {
      text-align: left;
      padding-left: 15px;
    }
  }
  .bb {
    border-bottom: 1px solid rgba(233, 234, 240, 1);
    padding-bottom: 40px;
  }
}
