.header {
  background-color: #FAFCFF;
  &-about-main {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  &-blog {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &.header-course {
    background-color: #fff;
  }
  &.with-padding {
    padding-top: 170px;
    @media (min-width: 576px) {
      padding-top: 120px;
    }
    @media (min-width: 992px) {
      padding-top: 130px;
    }
    @media (min-width: 1200px) {
      padding-top: 100px;
    }
  }
  &-top {
    border-bottom: 1px solid #F5F7FB;
  }
  &-navbar {
    max-width: 1680px;
    margin: 0 auto;
    &-nav {
      height: 100%;
      @media (min-width: 0) and (max-width: 576px) {
        background-color: #fff;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        bottom: 0;
        padding: 77px;
        z-index: 99;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        &.visible {
          left: 0;
        }
      }
      @media (min-width: 577px) and (max-width: 768px) {
        background-color: #fff;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        bottom: 0;
        padding: 77px;
        z-index: 99;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        &.visible {
          left: 0;
        }
      }
      @media (min-width: 769px) and (max-width: 991px) {
        background-color: #fff;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        bottom: 0;
        padding: 77px;
        z-index: 99;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        &.visible {
          left: 0;
        }
      }
    }
    &-toggler {
      display: block;
      font-size: 20px;
      border: none;
      color: #1E266D;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background-color: transparent;
      position: relative;
      z-index: 100;
      margin-left: 7%;
      &:focus {
        outline: none;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
      @media (min-width: 576px) {
        margin-left: 36%;
      }
      @media (min-width: 768px) {
        margin-left: 50%;
      }
      @media (min-width: 992px) {
        display: none;

      }
    }
  }
  &-phone {
    &-label {
      font-size: 16px;
      color: #58617C;
      margin-right: 11px;
      @media (min-width: 0) and (max-width: 576px) {
        display: block;
      }
    }
    &-number a {
      font-size: 22px;
      font-weight: 700;
      color: #1E266D;
      @media (min-width: 0) and (max-width: 576px) {
        display: block;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      padding: 0 45px;
      text-align: right;
    }
  }
  &-main {
    height: 440px;
    padding-top: 30px;
    &-course {
      height: 590px;
      padding-top: 30px;
      h2.etitle.etitle-1 {
        @media (min-width: 0) and (max-width: 576px) {
          font-size: 24px;
        }
      }
      h2.etitle.etitle-2 {
        @media (min-width: 0) and (max-width: 576px) {
          font-size: 20px;
        }
      }
      .esubtitle {
        @media (min-width: 0) and (max-width: 576px) {
          font-size: 15px;
          padding: 0 15px;
        }
      }
      &-btn {
        @media (min-width: 0) and (max-width: 576px) {
          text-align: center;
        }
        @media (min-width: 577px) and (max-width: 768px) {
          text-align: center;
        }
      }
      &-image {
        width: 633px;
        @media (min-width: 0) and (max-width: 576px) {
          width: 100%;
        }
        @media (min-width: 577px) and (max-width: 768px) {
          width: 100%;
        }
      }
      .marginBottom {
        margin-bottom: 57px;
        @media (min-width: 0) and (max-width: 576px) {
          margin-bottom: 20px;
        }
      }
      @media (min-width: 0) and (max-width: 575px) {
        height: 800px;
      }
      @media (min-width: 576px) and (max-width: 767px) {
        height: 934px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        height: 890px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        height: 810px;
      }
    }
    @media (min-width: 0) and (max-width: 576px) {
      height: auto;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &-slogan {
      padding: 0 20px;
    }
  }
  .logo {
    &-image {
      @media (min-width: 0) and (max-width: 576px) {
        width: 100%;
      }
    }
    @media (min-width: 0) and (max-width: 576px) {
      padding: 20px 0;
    }
    @media (min-width: 577px) and (max-width: 768px) {
      padding: 20px 0;
    }
    @media (min-width: 769px) and (max-width: 991px) {
      padding: 20px 0;
    }
  }
  #nav-icon3 {
    width: 30px;
    height: 22.5px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #1E266D;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 9px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 18px;
  }

  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    right: 50%;
  }

  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    right: 50%;
  }
  .fixed-navbar {
    position: fixed;
    z-index: 120;
    background-color: #FFF;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(29, 17, 3, 0.12);
    -moz-box-shadow: 0px 10px 25px 0px rgba(29, 17, 3, 0.12);
    box-shadow: 0px 10px 25px 0px rgba(29, 17, 3, 0.12);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    &.bgc-t {
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .fixed-invisible {
    top: -204px;
    left: 0;
    right: 0;
  }
  .fixed-visible {
    top: 0;
    left: 0;
    right: 0;
  }
}
