.notfound {
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 40px;
  @media (max-width: 1343px) {
    padding-top: 180px;
  }
  @media (max-width: 576px) {
    padding-top: 120px;
  }
  height: 100%;
  &-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 576px) {
      overflow-y: scroll;
    }
  }
  &-row {
    flex-direction: column;
  }
  &-img {
    @media (max-width: 576px) {
      width: 60%;
    }
  }
  &-text {
    color: #000;
    font-size: 36px;
    font-weight: 600;
    padding: 60px 0 15px;
    @media (max-width: 576px) {
      font-size: 18px;
      padding: 30px 0 15px;
    }
  }
  &-link {
    color: #1E266D;
    font-size: 26px;
    &:hover {
      color: #1E266D;
      text-decoration: underline;
    }
  }
  &-links {
    display: flex;
  }
  &-link-container {
    margin-right: 60px;
    a {
      font-size: 18px;
      color: $orange;
      text-decoration: none;
      &:hover {
        color: $orange;
        text-decoration: underline;
      }
      @media (max-width: 576px) {
        font-size: 14px;
      }
      img {
        margin-right: 15px;
        margin-top: -5px;
        @media (max-width: 576px) {
          width: 15%;
          margin-right: 5px;
        }
      }
    }
  }
}
