.ep-btn {
  display: inline-block;
  padding: 19px 62px;
  font-size: 18px;
  &:hover, &:focus {
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  &-primary {
    background-color: transparent;
    color: #FFB15B;
    border: 1px solid #FFB15B;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 10%/50%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    &:hover {
      background-color: #FFB15B;
      border: 1px solid #FFB15B;
      color: #fff;
    }
    &-inverse {
      background-color: #FFB15B;
      color: #fff;
      border: 1px solid #FFB15B;
      -webkit-border-radius: 20%;
      -moz-border-radius: 20%;
      border-radius: 10%/50%;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      &:hover {
        background-color: transparent;
        border: 1px solid #FFB15B;
        color: #FFB15B;
      }
    }
  }
  &-social {
    font-size: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 42px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(30, 38, 109, .1);
    color: rgba(30, 38, 109, 1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    &:hover {
      background-color: rgba(30, 38, 109, 1);
      color: #fff;
    }
  }
}
