.menu-list {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 100%;
  &-item {
    position: relative;
    padding: 38px 0 32px 0;
     .elink-menu {
        &:hover:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: black;
        }
     }
  }
}