.etitle {
  &-1 {
    font-size: 44px;
    font-weight: 800;
    color: #1E266D;
    @media (min-width: 0) and (max-width: 576px) {
      font-size: 34px;
    }
  }
  &-2 {
    font-size: 28px;
    color: #1E266D;
    font-weight: 800;
  }
  &-3 {
    font-size: 33px;
    font-weight: 700;
    color: #FFFFFF;
    @media (min-width: 0) and (max-width: 576px) {
      font-size: 25px;
    }
    @media (min-width: 577px) and (max-width: 768px) {
      font-size: 28px;
    }
  }
  &-4 {
    font-size: 18px;
    font-weight: 900;
    color: #51556E;
  }
  &-5 {
    font-size: 28px;
    color: #51556E;
    font-weight: 700;
    line-height: 35px;
    @media (min-width: 0) and (max-width: 576px) {
      font-size: 25px;
      padding: 0 10px;
    }
  }
}

h2.etitle-1 {
  @media (min-width: 0) and (max-width: 576px) {
    font-size: 29px;
    padding: 0 15px;
  }
  @media (min-width: 577px) and (max-width: 768px) {
    font-size: 29px;
    padding: 0 15px;
  }
}
